<!DOCTYPE html>
<html>
<head>
	<title>Filelist</title>
	<style>
		table {
			width: 100%;
			border-collapse: collapse;
			border-spacing: 0;
		}
		th, td {
			border: 1px solid #999;
			padding: 0.5rem 1rem;
		}
		thead th {
			background-color: #ccc;
		}
		.indent {
			display: inline-block;
			width: 1rem;
		}
		.is-index {
			font-weight: bold;
		}
	</style>
</head>
<body>

<table>
	<thead>
		<tr>
			<th>title</th>
			<th>url</th>
			<th>uispec</th>
			<th>summary</th>
			<th>update</th>
		</tr>
	</thead>
	<tbody>
		<% _.forEach(items, function (item) { %>
			<tr>
				<td<% if (item.isIndex) { %> class="is-index"<% } %>>
					<% _.times(item.depth, function () { %>
						<span class="indent"></span>
					<% }); %>
					<%- item.title %>
				</td>
				<td>
					<a href="<%- item.url %>"><%- item.url %></a>
				</td>
				<td>
					<% if (item.body) { %>
						<a href="<%- item.serveRelativePath %>">[view]</a>
					<% } %>
				</td>
				<td>
					<%- item.summary %>
				</td>
				<td>
					<%= item.updateHtml %>
				</td>
			</tr>
		<% }); %>
	</tbody>
</table>

</body>
</html>
